.columns {
    max-width: 144rem;
    height: 80rem;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.box {
    max-width: 92rem;
    height: 50rem;
    display: grid;
    border-radius: 2rem;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;

}

.col {
    width: 30.7rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items:start;
    color: #ffffff;
    padding: 5rem;
    gap: 5rem;
}

.col1 {
    background-color: #E28625;
}

.col2 {
    background-color: #006971;

}

.col3 {
    background-color: #004140;
}

.col-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    /* justify-content: center; */
    /* border: solid black; */
    color: #ffffff;
}

.icons {
    width: 7rem;
    height: 5rem;
}

span {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #000000;
    opacity: 25%;
}

.icon {
    width: 5rem;
    display: inline-block;
    fill: #FFD473;
}

.heading {
    width: 10.1rem;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.para {
    width: 21.2rem;
    font-size: 1.8rem;
    line-height: 1.5;
}

.button {
    width: 14.6rem;
    height: 4.8rem;
    background-color: #ffffff;
    border-radius: 2rem;
    font-size: 1.8rem;
}

.clr1 {
    color: #E28625;
}

.clr2 {
    color: #006971;
}

.clr3 {
    color: #004140;
}